<title>Administrasi Sistem Jaringan</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: lightgrey;
            background-size: 100%;
        }
        header {
            background-color: black;
            color: lightgrey;
            padding: 20px;
            text-align: center;
        }
        nav {
            background: darkred;
            padding: 10px;
            text-align: center;
        }
        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
        section {
            padding: 20px;
            text-align: center;
        }
        .profile-container {
            display: flex;
            align-items: center;
            gap: 100px;
            flex-wrap: wrap;
            padding-left: 200px;
        }
        .profile-container img {
            border-radius: 10px;
            width: 200px;
            height: auto;
            border: 3px solid #003366;
            
        }
        .profile-container div {
            max-width: 600px;
            text-align: left;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        footer {
            background-color: black;
            color: white;
            text-align: center;
            padding: 10px;
            margin-top: 40px;
        }
        @keyframes fadeIn {
            from { opacity: 0; transform: translateY(20px); }
            to { opacity: 1; transform: translateY(0); }
    }
    </style>